<div class="signup-modal">
    <form class="interactive-form">
        <input id="input-1" type="text" autofocus required/>
        <label for="input-1">
            <span class="label-text">Username</span>
            <span class="nav-dot"></span>
            <div class="signup-button-trigger">Login</div>
        </label>
       <!-- <input id="input-3" type="email" placeholder="email@address.com" />
        <label for="input-3">
            <span class="label-text">Email</span>
            <span class="nav-dot"></span>
        </label>-->
        <input id="input-2" type="password" required/>
        <label for="input-2">
            <span class="label-text">Password</span>
            <span class="nav-dot"></span>
        </label>
        <button ng-click="login()">Login</button>
        <div class="signup-button">Login</div>
    </form>
</div>