<div class="login-wrapper" ng-submit="login($event)">
    <form class="login">
        <p class="title">Saverly</p>
        <input type="text" placeholder="Username" autofocus/>
        <i class="glyphicon glyphicon-user"></i>
        <input type="password" placeholder="Password" />
        <i class="glyphicon glyphicon-lock"></i>
        <a ui-sref="forgotPw">Forgot your password?</a>
        <p class="signup">Don't have an account? <a ui-sref="register">Sign up</a></p>
        <button type="submit">
            <i class="spinner"></i>
            <span class="state">Log in</span>
        </button>
    </form>
</div>