<div class="savings-wrapper">
    <div class="flex-wrapper allocate">
        <div class="flex-card flex-sm allocated-flex">
            <div class="flex-header text-uppercase">Allocated Funds</div>
            <div class="flex-body">
                <span class="flex-count">2.09k</span>
                <span class="flex-percent">8%</span> INCREASE
            </div>
        </div>

        <div class="flex-card flex-sm unallocated-flex">
            <div class="flex-header text-uppercase">Unallocated Funds</div>
            <div class="flex-body">
                <span class="flex-count">1.02k</span>
                <span class="flex-percent">17%</span> DECREASE
            </div>
        </div>

        <div class="flex-card flex-sm savings-flex ">
            <div class="flex-header text-uppercase">Total Savings</div>
            <div class="flex-body">
                <span class="flex-count">3.12k</span><span class="flex-percent">21%</span>INCREASE
            </div>
        </div>
    </div>


    <div class="sv-piechart-card-container">
        <div class="card card-body">
            <div class="sv-piechart title">
                <span class="card-title">Savings Goals</span>
            <span class="left-to-budget block">
                <span class="color-block short-term"></span>
                Short Term
            </span>
            <span class="left-to-budget block">
                <span class="color-block long-term"></span>
                Long Term
            </span>
            </div>
            <div class="sv-piechart-card">
                <div class="sv-piechart card-header">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <span class="card-title">Condo</span>
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="sv-piechart body">
                    <div progress-circle stopat="12" end-color="#ffa52f" class="progress-circle"></div>
                    <div class="footer long-term">
                        <span class="amount-spent">$775 of 6.5k</span>
                        <span class="amount-remaining alt-text">5.7k remaining</span>
                    </div>
                </div>
            </div>

            <div class="sv-piechart-card">
                <div class="sv-piechart card-header">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <span class="card-title">Retirement</span>
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="sv-piechart body">
                    <div progress-circle stopat="0" end-color="#ffa52f" class="progress-circle"></div>
                    <div class="footer long-term">
                        <span class="amount-spent">$335 of 400k</span>
                        <span class="amount-remaining alt-text">399k remaining</span>
                    </div>
                </div>
            </div>

            <div class="sv-piechart-card">
                <div class="sv-piechart card-header">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <span class="card-title">Motorcycle</span>
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="sv-piechart body">
                    <div progress-circle stopat="4" end-color="#ffa52f" class="progress-circle"></div>
                    <div class="footer long-term">
                        <span class="amount-spent">$293 of 8k</span>
                        <span class="amount-remaining alt-text">7.7k remaining</span>
                    </div>
                </div>
            </div>

            <div class="sv-piechart-card">
                <div class="sv-piechart card-header">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <span class="card-title">PlayStation</span>
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="sv-piechart body">
                    <div progress-circle stopat="70" end-color="#259bf2" class="progress-circle"></div>
                    <div class="footer short-term">
                        <span class="amount-spent">$230 of 350</span>
                        <span class="amount-remaining alt-text">120 remaining</span>
                    </div>
                </div>
            </div>

            <div class="sv-piechart-card">
                <div class="sv-piechart card-header">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <span class="card-title">Vacation</span>
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="sv-piechart body">
                    <div progress-circle stopat="7" end-color="#259bf2" class="progress-circle"></div>
                    <div class="footer short-term">
                        <span class="amount-spent">$104 of 1.5k</span>
                        <span class="amount-remaining alt-text">1.4k remaining</span>
                    </div>
                </div>
            </div>

            <div class="sv-piechart-card">
                <div class="sv-piechart card-header">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <span class="card-title">Chimpanzee</span>
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="sv-piechart body">
                    <div progress-circle stopat="23" end-color="#259bf2" class="progress-circle"></div>
                    <div class="footer short-term">
                        <span class="amount-spent">$147 of 650</span>
                        <span class="amount-remaining alt-text">503 remaining</span>
                    </div>
                </div>
            </div>

            <div class="sv-piechart-card">
                <div class="sv-piechart card-header">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <span class="card-title">Speaker System</span>
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="sv-piechart body">
                    <div progress-circle stopat="38" end-color="#259bf2" class="progress-circle"></div>
                    <div class="footer short-term">
                        <span class="amount-spent">$144 of 380</span>
                        <span class="amount-remaining alt-text">236 remaining</span>
                    </div>
                </div>
            </div>

            <div class="sv-piechart-card">
                <div class="sv-piechart card-header">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <span class="card-title">Concert Tickets</span>
                    <i class="glyphicon glyphicon-cog"></i>
                </div>
                <div class="sv-piechart body">
                    <div progress-circle stopat="43" end-color="#259bf2"  class="progress-circle"></div>
                    <div class="footer short-term">
                        <span class="amount-spent">$65 of 150</span>
                        <span class="amount-remaining alt-text">85 remaining</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>