// Global vars visable to all modules
@import "global";

// Modules
@import "components/overview";
@import "components/expenses";
@import "components/savings";
@import "components/transactions";
@import "components/leftNavbar";
@import "components/rightNavbar";
@import "components/wishlist";

//Common modules shared across app
@import "components/common/sv-cal";
@import "components/common/sv-charts";
@import "components/common/sv-graphs";
@import "components/common/sv-modal";
@import "components/common/sv-progress";
@import "components/common/sv-table";

html, body, .row, .left-nav, .main, .right-nav {
  height: 100%;
}

body {
  font-family: Source Sans Pro;
  font-size: 14px;
  color: @text-primary;
  background-color: @sidebar-background;
  height: 100%;
}

.glyphicon.glyphicon-bell {
  color: black;
}

.card {
  background-color: @card-background;
  margin: 15px 0;
  border-radius: 3px;

  .card-header {
    border-bottom: 1px solid @card-border;
    border-radius: 3px;
  }
}

// Global steezy
.container-fluid {
  padding: 0;
  height: 90%;
}

.pad {  // just adds 15-padding
  margin: 0px;
  padding: 15px;
}

.fixed {
    position: fixed;
}

.main {
  padding: 0;
  background: url('../img/mountain-background.jpeg');
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-y: auto;
}

.navbar {
  border-radius: 0;
  background-color: @sidebar-background;

  &.top {
    margin: 0;
  }

  .navbar-brand {
    color: black;
  }

  .logo {
    display: inline;
    width: 40px;
    margin-right: 5px;
  }
}

.app-doughnut {
  border: 3px solid;
  border-radius: 100px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

.progressbar-text {
  color: black !important;
  font-weight: bold;
  font-size: 24px;
}

.app-search {
  border-bottom: 1px solid @search-border-bottom;

  input {
    border: none;
  }

  span {
    button {
      border: none !important;
    }
  }
}

.progress  {
  height: 6px;
  background: #ebedef;
  border-radius:32px;
  box-shadow: none;
}
.progress-big  {
  height: 32px;
  border-radius:3px;
}

.progress-bar {
  line-height: 12px;
  background: @progress-green;
  box-shadow: none;
}

.progress-bar-info {
  background-color: @blue;
}

.card-header {
  background-color: whitesmoke;
}

.modal-dialog {
  z-index: 2337;
}

/* scale effect modal */
.scale .modal-content {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.37s;
	-moz-transition: all 0.37s;
	transition: all 0.37s;
}

.in.scale .modal-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* sticky to top effect modal */
.stickToTop {
	top: 0;
}

.stickToTop .md-content {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	opacity: 0;
}

.in.stickToTop .md-content {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	border-radius: 0 0 3px 3px;
	opacity: 1;
}


.black {
  color: black;
}

/* menu sidebar reveal
.st-content {
	overflow-y: scroll;
	background: #f3efe0;
}

.st-content,
.st-content-inner {
	position: relative;
}

.st-container {
	position: relative;
	overflow: hidden;
}
*/
.st-pusher {
	position: relative;
	right: 0;
	z-index: 37;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 94;
	width: 300px;
	height: 100%;
	background: @blue;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.st-menu::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

/* Effect 3: Push*/
.st-effect-3.st-menu-open .st-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.st-effect-3.st-menu {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.st-effect-3.st-menu-open .st-effect-3.st-menu {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-effect-3.st-menu::after {
	display: none;
}


@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
