// Global vars visable to all modules
@import "global";

// Modules
@import "components/overview";
@import "components/expenses";
@import "components/savings";
@import "components/transactions";
@import "components/leftNavbar";
@import "components/rightNavbar";
@import "components/wishlist";

//Common modules shared across app
@import "components/common/sv-cal";
@import "components/common/sv-charts";
@import "components/common/sv-graphs";
@import "components/common/sv-modal";
@import "components/common/sv-progress";
@import "components/common/sv-table";

html, body, .row, .left-nav, .main, .right-nav {
  height: 100%;
}

body {
  font-family: Source Sans Pro;
  font-size: 14px;
  color: @text-primary;
  background-color: @sidebar-background;
  height: 100%;
}

.glyphicon.glyphicon-bell {
  color: black;
}

.card {
  background-color: @card-background;
  margin: 15px 0;
  border-radius: 3px;

  .card-header {
    border-bottom: 1px solid @card-border;
    border-radius: 3px;
  }
}

// Global steezy
.container-fluid {
  padding: 0;
  height: 90%;
}

.pad {  // just adds 15-padding
  margin: 0px;
  padding: 15px;
}

.fixed {
    position: fixed;
}

.main {
  padding: 0;
  background: url('../img/mountain-background.jpeg');
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-y: auto;
}

.navbar {
  border-radius: 0;
  background-color: @sidebar-background;

  &.top {
    margin: 0;
  }

  .navbar-brand {
    color: black;
  }

  .logo {
    display: inline;
    width: 40px;
    margin-right: 5px;
  }
}

.app-doughnut {
  border: 3px solid;
  border-radius: 100px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

.progressbar-text {
  color: black !important;
  font-weight: bold;
  font-size: 24px;
}

.app-search {
  border-bottom: 1px solid @search-border-bottom;

  input {
    border: none;
  }

  span {
    button {
      border: none !important;
    }
  }
}

.progress  {
  height: 6px;
  background: #ebedef;
  border-radius:32px;
  box-shadow: none;
}
.progress-big  {
  height: 32px;
  border-radius:3px;
}

.progress-bar {
  line-height: 12px;
  background: @progress-green;
  box-shadow: none;
}

.progress-bar-info {
  background-color: @blue;
}
