//Global variables
//If a color is used throughout the app, put it here
@body-color: #EDEDED;

@navbar-body-color: #25272F;

@navbar-font: 'Roboto', sans-serif;
@navbar-font-color: #E3DEDE;
@navbar-icon-color: #FFFFFF;

@separator-font-color: rgba(139, 134, 135, 0.67);


//import components
@import './components/overview.less';
@import './components/expenses.less';
@import './components/friends.less';
@import './components/login.less';
@import './components/profile.less';
@import './components/register.less';
@import './components/savings.less';

.bold {
  font-weight: 500;
}

.separator-right {
  border-right: solid 1px @separator-font-color;
  margin: 0 27px;
  padding: 12px 0;
}

.nav-wrapper {
  background-color: @navbar-body-color;

  a {
    color: @navbar-font-color;
    font-weight: 300;
    font-size: 16px;
  }

  .brand-logo {
    margin-left: 30px;

    .app-icon {
      width: 50px;
      margin-top: 14px;
    }
  }

  .navbar-balance {
    font-size: 14px;
  }
}

.account-dropdown-menu {
  background-color: @navbar-body-color;
  color: @navbar-font-color;
  min-width: 152px;

  .dropdown-option {
    a {
      font-size: 14px;
      color: @navbar-font-color;
      .material-icons {
        color: @navbar-icon-color;
      }
    }
  }
}

.main {
  background-color: @body-color;
}