//////////////////////////////
// COLORS

@inverse: #34495E;
@matte: #273142;

// Component Background
@primary: #FFFFFF;    //white
@secondary: #FAFBFC;  //off white

// Text Colors
@altText: #8796A9;    //alternate text (grey)

// Component `Action`
@darkBlue: #3275B7;
@lightBlue: #259BF2;
@red: #E55700;
