<div class="overview row">
    <div class="card">
        <canvas id="testChart" class="chart line large-chart"></canvas>
        <div class="chart-sidebar right">
            <select class="change-year" material-select watch>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
            </select>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card small">
            <canvas id="barchart" class="chart bar small-chart"></canvas>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">Savings Progress</div>
    </div>
    <div class="col s12 m4">
        <div class="card small">Savings Progress</div>
    </div>

</div>