<div class="overview row">
    <div class="card z-depth-2">
        <canvas sv-chart type="Line" class="chart line large-chart"></canvas>
        <div class="chart-sidebar right">
            <select class="change-year" material-select watch>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
            </select>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card small overview savings-progress z-depth-2">
            <div class="content">
                <span class="card-title">Savings Progress</span>
                <span class="secondary-title">TOP THREE GOALS</span>

                <div class="progress-bar">
                    <span class="progress-title">Xbox One</span>
                    <div class="progress first">
                        <div class="determinate"></div>
                    </div>
                    <span class="amount-saved left">$212.43 saved</span>
                    <span class="amount-remaining right">$78.57 remaining</span>
                </div>

                <div class="progress-bar">
                    <span class="progress-title">MacBook</span>
                    <div class="progress second">
                        <div class="determinate"></div>
                    </div>
                    <span class="amount-saved left">$341.52 saved</span>
                    <span class="amount-remaining right">$957.48 remaining</span>
                </div>

                <div class="progress-bar">
                    <span class="progress-title">Motorcycle</span>
                    <div class="progress third">
                        <div class="determinate"></div>
                    </div>
                    <span class="amount-saved left">$15,712.43 saved</span>
                    <span class="amount-remaining right">$3,550.00 remaining</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small overview safe-balance z-depth-2">
            <div class="content">
                <span class="card-title">Safe Balance</span>
                <div class="secondary-title">MONTHLY SPENDING LIMIT</div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small overview recent-transactions z-depth-2">
            <div class="content">
                <span class="card-title">Recent Transactions</span>
                <div class="secondary-title">TOP FIVE LARGEST</div>
            </div>
        </div>
    </div>
</div>