<div class="row">
    <div class="card col s12 l10">
        <canvas id="testChart" class="chart line large-chart"></canvas>
        <div class="chart-sidebar right">
            <a class="year dropdown-button btn" href="javascript:void(0);" data-activates="year-dropdown-menu" dropdown>
                2016 <i class="material-icons right">arrow_drop_down</i>
            </a>
        </div>
    </div>
</div>

<ul id="year-dropdown-menu" class="year-dropdown-menu dropdown-content">
    <li>
        <a href="javascript:void(0);" class="dropdown-option">2016</a>
        <a href="javascript:void(0);" class="dropdown-option">2015</a>
        <a href="javascript:void(0)" class="dropdown-option">2014</a>
    </li>
</ul>