<!--Flex cards-->
<div class="flex-card-wrapper row">

  <div class="flex-card col-md-3 card card-block">
    <span class="flex-header">Weekly Flex Spending</span>
    <div class="flex-body">
      <span class="flex-count">52</span> REMAINING
    </div>
    <hr style="margin-top: 0; margin-bottom: 5px; opacity:0.3;">
    <span class="flex-footer"> 58% SPENT </span>
  </div>

</div>
<!--Flex cards end-->

<!--Recent Transaction Table Start-->
<div class="recent-transactions-wrapper row">

  <div class="recent-transactions card col-md-6 col-xs-12">
    <div class="recent-transactions-header container-fluid">
      <span class="col-md-6 col-xs-8 recent-transactions-title">Recent Transactions</span>
      <a href="#" class="recent-transactions-link text-right col-md-6 col-xs-4">View More</a>
    </div>

    <div class="recent-transactions-body container-fluid">
      <div class="recent-transactions-row container-fluid">
        <div class="recent-transactions-left col-md-1 col-xs-1">
          <img class="ico-expense" src="assets/img/expense.svg"/>
        </div>
        <div class="recent-transactions-mid col-md-5 col-xs-5">
          <span class="bold">Books</span><br>
          <span class="fade">March 11, 2016</span>
        </div>
        <div class="recent-transactions-right text-right col-md-6 col-xs-6">
          <span class="textRed">$21.95</span><br>
          <span class="fade">Amount</span>
        </div>
      </div>

      <div class="recent-transactions-row container-fluid">
        <div class="recent-transactions-left col-md-1 col-xs-1">
          <span class="glyphicon textGreen glyphicon-piggy-bank"></span>
        </div>
        <div class="recent-transactions-mid col-md-5 col-xs-5">
          <span class="bold">Books</span><br>
          <span class="fade">March 11, 2016</span>
        </div>
        <div class="recent-transactions-right text-right col-md-6 col-xs-6">
          <span class="textGreen">$21.95</span><br>
          <span class="fade">Amount</span>
        </div>
      </div>

      <div class="recent-transactions-row container-fluid">
        <div class="recent-transactions-left col-md-1 col-xs-1">
          <span class="glyphicon textRed glyphicon-usd"></span>
        </div>
        <div class="recent-transactions-mid col-md-5 col-xs-5">
          <span class="bold">Books</span><br>
          <span class="fade">March 11, 2016</span>
        </div>
        <div class="recent-transactions-right text-right col-md-6 col-xs-6">
          <span class="textRed">$21.95</span><br>
          <span class="fade">Amount</span>
        </div>
      </div>

      <div class="recent-transactions-row container-fluid">
        <div class="recent-transactions-left col-md-1 col-xs-1">
          <span class="glyphicon textRed glyphicon-usd"></span>
        </div>
        <div class="recent-transactions-mid col-md-5 col-xs-5">
          <span class="bold">Books</span><br>
          <span class="fade">March 11, 2016</span>
        </div>
        <div class="recent-transactions-right text-right col-md-6 col-xs-6">
          <span class="textRed">$21.95</span><br>
          <span class="fade">Amount</span>
        </div>
      </div>
    </div>


</div>
<!--Recent Transaction Table End-->
