<div class="transaction-table panel table-responsive">
<!--Transaction table start-->
	<div class="trans-header .col-md-9 container-fluid">
		<div class="col-md-9 table-name"><b>Transactions</b></div>

		<!--SEARCH BAR-->
		<form class="transaction-search col-md-3">
			<form role="form">
			  <div class="form-group has-feedback">
			    <input type="text" class="form-control flat" placeholder="Search" />
			    <i class="form-control-feedback glyphicon glyphicon-search"></i>
			  </div>
			</form>
		</form>
		<!---->

	</div>

	<table class="table table-striped table-hover">
		<tr>
			<th>Name</th>
			<th>Date<span class="glyphicon glyphicon-triangle-bottom"></span></th>
			<th>Location</th>
			<th>Amount<span class="glyphicon glyphicon-triangle-bottom"></span></th>
			<th></th>
		</tr>
		<tbody>
			<tr>
				<td>Lunch<br><span>Chipotle</span></td>
				<td><b>Mar 22,2016</b></td>
				<td><b>Edison, NJ</b></td>
				<td><span style="color:#d65b4a;">$11.86</span></td>
				<td>
					<div class="btn-group">
	  				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions <span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
				  </ul>
				</div>
			</td>
			</tr>

			<tr>
				<td>ATM Deposit<br><span>Bank of America</span></td>
				<td><b>Mar 20,2016</b></td>
				<td><b>Bridgewater, NJ</b></td>
				<td><span style="color:#2ecc71;">$140.00</span></td>
				<td>
					<div class="btn-group">
	  				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions <span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
				  </ul>
				</div>
			</td>
			</tr>

			<tr>
				<td>Cell Phone Bill<br><span>Verizon</span></td>
				<td><b>Mar 19,2016</b></td>
				<td><b>Online</b></td>
				<td><span style="color:#d65b4a;">$44.95</span></td>
				<td>
					<div class="btn-group">
	  				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions <span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
				  </ul>
				</div>
			</td>
			</tr>

			<tr>
				<td>Food and Drinks<br><span>Minetta Tavern</span></td>
				<td><b>Mar 18,2016</b></td>
				<td><b>New York City, NY</b></td>
				<td><span style="color:#d65b4a;">$127.43</span></td>
				<td>
					<div class="btn-group">
	  				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions <span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
				  </ul>
				</div>
			</td>
			</tr>

			<tr>
				<td>Books<br><span>Barnes and Nobles</span></td>
				<td><b>Mar 18,2016</b></td>
				<td><b>Edison, NJ</b></td>
				<td><span style="color:#d65b4a;">$14.95</span></td>
				<td>
					<div class="btn-group">
	  				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions <span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
				  </ul>
				</div>
			</td>
			</tr>

			<tr>
				<td>Gasoline<br><span>Exxon</span></td>
				<td><b>Mar 16,2016</b></td>
				<td><b>Highland Park, NJ</b></td>
				<td><span style="color:#d65b4a;">$20.00</span></td>
				<td>
					<div class="btn-group">
	  				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions <span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
				  </ul>
				</div>
			</td>
			</tr>


			<tr>
				<td>Internet and Cable Bill<br><span>Optimum Online</span></td>
				<td><b>Mar 12,2016</b></td>
				<td><b>Online</b></td>
				<td><span style="color:#d65b4a;">$74.98</span></td>
				<td>
					<div class="btn-group">
	  				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions <span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
				  </ul>
				</div>
			</td>
			</tr>
		</tbody>
	</table>
	<!--Transaction table end-->
</div>
