Transactions Page
<!--
TODO: NEED TO VERTICAL CENTER TRANSACTION AND SEARCH BAR
TODO: ACTIONS BUTTON RESPONSIVENESS
TODO: CENTER TABLE DATA
-->
<div class="transaction-table container-fluid">

	<div class="trans-header container-fluid">
		<div class="col-md-10 vcenter"><span>Transactions</span></div>

		<!--SEARCH BAR-->
		<form class="trans-search col-md-2">
			<form role="form">
			  <div class="form-group has-feedback">
			    <input type="text" class="form-control flat" placeholder="Search" />
			    <i class="form-control-feedback glyphicon glyphicon-search"></i>
			  </div>
			</form>
		</form>
		<!---->

	</div>

	<table class="table table-striped table-hover">
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Location</th>
			<th>Amount <!---Filler glyphicon--><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
			<th></th>
		</tr>

		<tr>
			<td>Bruh</td>
			<td>Bruuh</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>
				<div class="btn-group">
  				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
			</div>
		</td>
		</tr>

		<tr>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
		</tr>

		<tr>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
		</tr>

		<tr>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
		</tr>

		<tr>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
		</tr>

		<tr>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
		</tr>


		<tr>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
			<td>Table Cell</td>
		</tr>
	</table>
</div>
<br>
<br>
