.spending-chart {
  color: white;
  width: 90%;
  margin: 0 auto;

  .spending-chart-header {
    padding: 12px;
    border-bottom: solid 1px white;

    .time-dropdown {
      padding: 6px 12px;
    }
  }

  .spending-chart-body {
    canvas {

    }
  }
}