.expenses-wrapper {
  width: 90%;
  margin: 0 auto;

  .spending-chart {

    .spending-chart-header {
      background-color: @card-header;
      padding: 12px;
      border-bottom: solid 1px white;
      font-weight: bold;

      .time-dropdown {
        padding: 6px 12px;
      }
    }

    .spending-chart-body {
      padding-top: 15px;

      .spending-dist.chart {

      }

      .spending-legend {

        .row {
          margin: 0 15px;
          margin-bottom: 15px;

          .spend-percent {
            display: block;
            font-size: 14px;
            margin-left: 17px;
          }

          .spend-name {
            font-weight: bold;
          }

          .spend-cost {
            font-weight: bold;
          }
        }

        .app-doughnut {
          margin-right: 2px;

          &.bills {
            border-color: @dist-regular-blue;
          }

          &.clothes {
            border-color: @dist-green;
          }

          &.transportation {
            border-color: @dist-dark-blue;
          }

          &.entertainment {
            border-color: @dist-yellow;
          }

          &.gasoline {
            border-color: @dist-pink;
          }

          &.other {
            border-color: @dist-violet;
          }
        }
      }
    }
  }

  .budget-progress-card-container {
    text-align: center;
    box-shadow: 0px 0px 8px gray;
    
    .card.card-body {
      padding-bottom: 10px;
    }

    .budget-progress.title {
      margin-left: 25px;
      padding-top: 5px;
      text-align: left;

      .card-title {
        font-weight: bold;
        font-size: 16px;
      }

      .left-to-budget {
        font-size: 12px;
      }
    }

    .budget-progress-card {
      font-weight: bold;
      display: inline-block;
      margin: 10px 8px;
      border: 1px solid #ddd;
      width: 22%;
      box-shadow: 0px 0px 5px gray;
      
      @media (max-width: 740px) {
        width: 40%;
        margin: 10px 20px;
      }

      @media (max-width: 445px) {
        width: 75%;
      }

      .budget-progress.card-header {
        background-color: #F6F8FB;
        text-align: center;
        margin-bottom: 10px;
        padding: 5px;

        .glyphicon {
          line-height: 1.7;
        }

        .glyphicon-info-sign {
          float: left;
        }

        .glyphicon-cog {
          float: right;
        }
      }

      .budget-progress.body {
        .progress-circle {
          margin: 0 auto;
          width: 70%;
        }

        .footer {
          margin-top: 10px;
          text-align: center;
          border-bottom: solid 4px rgb(201, 113, 217);

          .amount-spent {
            font-size: 16px;
          }

          .amount-remaining {
            display: block;
          }
        }
      }
      }
    }

    .pagination {
      text-align: center;
      display: block;

      ul {
        li {
          background: white;

          a {
            color: @altText;

            &:focus {
              color: white;
            }
          }
        }
      }
    }
  }

.bills-card {
  background-color: @card-background;
  border-radius: 3px;
  box-shadow: 0px 0px 8px gray;

  .bills-header {
    margin: 0 25px;
    padding: 12px 0;

    .card-title {
      font-size: 16px;
      font-weight: bold;
    }

    .left-to-budget {
      font-size: 12px;
    }

    .navbar-form {
      margin: 0;
      padding: 0;

      .form-group {
        .input-group {
          border-bottom: 1px solid @search-border-bottom;
          input {
            border: none;
          }

          span {
            button {
              border: none;
            }
          }
        }
      }
    }
  }

  .bills-table {

    table {
      tbody {

        .table-header {
          background-color: @table-header-bg;
        }

        .bill-row {
          td {
            font-weight: bold;

            .alt-text {
              display: block;
              font-size: 12px;
            }

            .overdue {
              color: @red;
            }
          }

          .bill-name {

          }

          .bill-due-date {

          }

          .bill-freq {

          }

          .bill-amount {
            .btn-group {
              float: right;

              button {
                font-size: 14px;
                padding: 8px 12px;
              }
            }
          }
        }
      }
    }
  }
}