.spending-chart {
  background-color: @primary;
  color: @matte;
  width: 90%;
  margin: 0 auto;

  .spending-chart-header {
    background-color: @card-header;
    padding: 12px;
    border-bottom: solid 1px white;

    .time-dropdown {
      padding: 6px 12px;
    }
  }

  .spending-chart-body {
    display: inline-block;

    .spending-dist.chart {

    }
  }

  .legend-container {
    display: inline-block;
    width: 40%;

    .spending-chart-legend {

      .legend-item {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
}