.left-nav {
  .profile-area {
    text-align: center;

    .top-half {
      .profile-background-img {
        width: 100%;
      }
    }

    .profile-picture {
      width: 80px;
      border-radius: 50%;
      position: relative;
      bottom: 30px;
    }

    .bottom-half {
      .user-fullname {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}