
// color palette (eventually moving to global)
.light-blue{
  color: @lightBlue
}
.dark-blue{
  color: @darkBlue
}
.red{
  color: @red
}
.hr-alt{
  color: #F1F3F5;
}

.alt-text{
  color: @altText;
}

// Styles specific to Balances Summary
.left{
  background-color: @primary;
  min-height: 607px;
}

.right{
  background-color: @secondary;
}

.balance-heading-item{
  padding-right: 10px;

  .icon{
    padding-right:  8px;
    padding-left:  8px;
  }
}

.summary{
  padding-top: 10px;
  padding-bottom: 10px;
  .summary-list{
    padding-top: 15px;
    padding-bottom: 10px;
    hr{
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
