.overview.row {
  width: 94%;
  margin: 0 auto;
}

.change-year {
  ul li span {
    color: @base-font-color;
  }
}

.secondary-title {
  display: block;
  font-size: 10px;
  height: 30px;
}

.overview {
  .card-title {
    font-size: 16px;
    font-weight: 500;
  }

  .progress-bar {
    margin-bottom: 20px;

    .progress-title {
      font-size: 12px;
      font-weight: 500;
    }

    .progress {
      height: 30px;
      margin: 0;
      background-color: @body-background-color;
      border: solid 3px rgba(213, 207, 207, 0.55);

      &.first {
        .determinate {
          width: 73%;
        }
      }

      &.second {
        .determinate {
          width: 26%;
        }
      }

      &.third {
        .determinate {
          width: 82%;
        }
      }

      .determinate {
        background: -webkit-linear-gradient(left, #47B8E0, #47B8E0, #47B8E0, #47B8E0, #47B8E0, rgba(71, 184, 224, 0.10));
      }
    }

    .amount-saved, .amount-remaining {
      font-size: 10px;
      font-weight: 500;
    }
  }

  .safe-balance.gauge {
    .amount-indicator {
      display: block;
      font-size: 10px;
    }

    .little-ball {
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: @base-red;
      border-radius: 25px;
      border: 2px solid @base-font-color;
      left: -3px;
      top: -7px;
    }
  }
}