.transaction-table{
padding: 0;
background-color: #ffffff;
margin: 0 20px; //WIDTH OF TABLE
border: 1px solid #f8f9fc;
//TRANSACTION TABLE HEADER
  .trans-header{

    position: relative;
    height: 75px;
    border: 0;
    .table-name{
      font-size: 25px;
      line-height: 75px;
    }

    .transaction-search{
      top: 50%;
      transform: translateY(-50%);
      input{
        border: 0;
        border-radius: 0 !important;
        border-bottom: 1px solid rgba(0,0,0,0.1);

           }
      }
    }
//TRANSACTION TABLE HEADER END

    //TABLE START
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {background-color: #f9fafb;}
    .table{

      tr{
        td{
          vertical-align: middle;
          span:nth-child(2){
            opacity: 0.5;
          }
          &:nth-child(1){
            width:40%;
          }
        }

        &:first-child{
          background-color: #f8f9fc;
          height: 50px;
          th{
            vertical-align: middle;
          }
          .glyphicon{
            font-size:15px;
            padding-left:10px;
          }
        }
        height: 75px;

        .btn-group{
          button{

            background-color: #1abc9c;
          }
        }
      }
    }
    //TABLE END
  }
