.transaction-table{
 padding: 0;
  background-color: white;

  //TRANSACTION TABLE HEADER
  .trans-header{
    height: 75px;
    outline:0;

    .vcenter{
      height: 100%;

      }
    }

    .trans-search{
      height: 75px;
      input{border: 0;}
    }
    //TRANSACTION TABLE HEADER END

    //TABLE START
    .table{
      tr{
        td{
          vertical-align: middle;
          span:nth-child(2){
            opacity: 0.5;
          }
          &:nth-child(1){
            width:40%;
          }
        }

        &:first-child{
          background-color: rgb(211,211,211,0.5);
          height: 50px;
          .glyphicon{
            font-size:15px;
            padding-left:10px;
          }
        }
        height: 75px;

        .btn-group{
          button{
            opacity: 0.5;
          }
        }
      }
    }
    //TABLE END
  }
