<div class="expenses-wrapper">
    <div class="spending-chart card clearfix">
        <div class="spending-chart-header card-header">
            <span>Spending Distribution</span>
            <div class="time-dropdown dropdown-toggle btn-group pull-right">
              <button class="time-dropdown btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown" aria-expanded="true">
                  This Month <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">This Month</a></li>
                  <li><a href="#">This Week</a></li>
                  <li><a href="#">Last Month</a></li>
                  <li><a href="#">Next Month</a></li>
              </ul>
            </div>
        </div>

        <div class="spending-chart-body">
            <div class="chart-container col-md-4">
                <canvas class="spending-dist chart chart-doughnut" chart-data="data" chart-labels="labels" chart-options="chartOptions"></canvas>
            </div>

            <div class="spending-legend col-md-4">
                <div class="row">
                    <span class="app-doughnut bills"></span>
                    <span class="spend-name">Bills</span>
                    <span class="spend-cost pull-right">$486</span>
                    <span class="spend-percent alt-text">39%</span>
                </div>
                <div class="row">
                    <span class="app-doughnut clothes"></span>
                    <span class="spend-name">Clothes</span>
                    <span class="spend-cost pull-right">$174</span>
                    <span class="spend-percent alt-text">14%</span>
                </div>
                <div class="row">
                    <span class="app-doughnut transportation"></span>
                    <span class="spend-name">Transportation</span>
                    <span class="spend-cost pull-right">$162</span>
                    <span class="spend-percent alt-text">13%</span>
                </div>
            </div>
            <div class="spending-legend col-md-4">
                <div class="row">
                    <span class="app-doughnut entertainment"></span>
                    <span class="spend-name">Entertainment</span>
                    <span class="spend-cost pull-right">$149</span>
                    <span class="spend-percent alt-text">12%</span>
                </div>
                <div class="row">
                    <span class="app-doughnut gasoline"></span>
                    <span class="spend-name">Gasoline</span>
                    <span class="spend-cost pull-right">$74</span>
                    <span class="spend-percent alt-text">6%</span>
                </div>
                <div class="row">
                    <span class="app-doughnut other"></span>
                    <span class="spend-name">Other</span>
                    <span class="spend-cost pull-right">199</span>
                    <span class="spend-percent alt-text">16%</span>
            </div>
        </div>
    </div>
</div>

<div class="budget-progress-card-container">
    <div class="card card-body">
        <div class="budget-progress title">
            <span class="card-title">Budgets</span>
            <span class="left-to-budget alt-text">| $240 left to budget</span>
        </div>
        <div class="budget-progress-card">
            <div class="budget-progress card-header">
                <i class="glyphicon glyphicon-info-sign"></i>
                <span class="card-title">Groceries</span>
                <i class="glyphicon glyphicon-cog"></i>
            </div>
            <div class="budget-progress body">
                <div progress-circle stopat="60" class="progress-circle"></div>
                <div class="footer">
                    <span class="amount-spent">$212 of 300</span>
                    <span class="amount-remaining alt-text">$88 remaining</span>
                </div>
            </div>
        </div>

        <div class="budget-progress-card">
            <div class="budget-progress card-header">
                <i class="glyphicon glyphicon-info-sign"></i>
                <span class="card-title">Clothes</span>
                <i class="glyphicon glyphicon-cog"></i>
            </div>
            <div class="budget-progress body">
                <div progress-circle stopat="44" class="progress-circle"></div>
                <div class="footer">
                    <span class="amount-spent">$22 of 50</span>
                    <span class="amount-remaining alt-text">$88 remaining</span>
                </div>
            </div>
        </div>

        <div class="budget-progress-card">
            <div class="budget-progress card-header">
                <i class="glyphicon glyphicon-info-sign"></i>
                <span class="card-title">Entertainment</span>
                <i class="glyphicon glyphicon-cog"></i>
            </div>
            <div class="budget-progress body">
                <div progress-circle stopat="21" class="progress-circle"></div>
                <div class="footer">
                    <span class="amount-spent">$21 of 100</span>
                    <span class="amount-remaining alt-text">$79 remaining</span>
                </div>
            </div>
        </div>

        <div class="budget-progress-card">
            <div class="budget-progress card-header">
                <i class="glyphicon glyphicon-info-sign"></i>
                <span class="card-title">Personal Care</span>
                <i class="glyphicon glyphicon-cog"></i>
            </div>
            <div class="budget-progress body">
                <div progress-circle stopat="54" class="progress-circle"></div>
                <div class="footer">
                    <span class="amount-spent">$65 of 120</span>
                    <span class="amount-remaining alt-text">$55 remaining</span>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="bills-card clearfix">
        <div class="bills-header clearfix">
            <span class="card-title">Bills</span>
            <span class="left-to-budget alt-text">| 14 due this month</span>
            <form class="navbar-form navbar-right" action="/expenses" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="bills-table">
            <table class="table table-striped">
                <tbody>
                    <tr class="table-header">
                        <th>Name</th>
                        <th>Due Date</th>
                        <th>Frequency</th>
                        <th>Amount</th>
                    </tr>
                    <tr class="bill-row" ng-repeat="b in bills track by $index">
                        <td class="bill-name">
                            <span class="service-name">{{ b.name.name }}</span>
                            <span class="company-name alt-text">{{ b.name.company }}</span>
                        </td>
                        <td class="bill-due-date">
                            <span class="due-date">{{ b.dueDate.date }}</span>
                            <span class="due-date-status alt-text" ng-class="{ overdue: b.dueDate.status === 'Overdue' }">{{ b.dueDate.status }}</span>
                        </td>
                        <td class="bill-freq">
                            <span class="freq">{{ b.freq.freq }}</span>
                            <span class="when-started alt-text">{{ b.freq.startedOn }}</span>
                        </td>
                        <td class="bill-amount">
                            <span class="amount">${{ b.amount.amount }}</span>
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-click="viewBill($index)"><a href="#">Details</a></li>
                                    <li ng-click="editBill($index)"><a href="#">Edit</a></li>
                                    <li ng-click="deleteBill($index)"><a href="#">Delete</a></li>
                                </ul>
                            </div>
                            <span class="amount-status alt-text" ng-class="{ overdue: b.amount.status === 'Delayed'}">{{ b.amount.status }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="pagination">
        <ul>
            <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
            <li class=""><a href="#fakelink">1</a></li>
            <li class=""><a href="#fakelink">2</a></li>
            <li><a href="#fakelink">3</a></li>
            <li class=""><a href="#fakelink">4</a></li>
            <li><a href="#fakelink">5</a></li>
            <li><a href="#fakelink">6</a></li>
            <li><a href="#fakelink">7</a></li>
            <li><a href="#fakelink">8</a></li>
            <li><a href="#fakelink">9</a></li>
            <li class=""><a href="#fakelink">10</a></li>
            <li class="pagination-dropdown dropup">
                <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fui-triangle-up"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#fakelink">10–20</a></li>
                    <li><a href="#fakelink">20–30</a></li>
                    <li><a href="#fakelink">40–50</a></li>
                </ul>
            </li>
            <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
        </ul>
    </div>
</div>
