<!-- Balances Summary Start -->
<div class="clearfix" style="width: 90%; margin: auto;">

      <div class="row card balances-card" style="box-shadow: 0px 0px 8px gray;">
          <div class="left col-sm-12 no-padding">
            <div name="balances-header" class="container-fluid col-md-12">
              <h4 style="font-size: 24px;" class="balances-header col-xs-6 col-sm-3">Balances</h4>
              <div class="btn-group col-xs-6 visible-xs balance-heading">
                <button class="btn btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                  {{budgetDropText}} <span class="caret"></span>
                </button>
                <ul style="font-size: 11px" class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="balanceTimeline(3)">Past 3 Months</a></li>
                  <li><a href="#" ng-click="balanceTimeline(6)">Past 6 Months</a></li>
                  <li><a href="#" ng-click="balanceTimeline(12)">Past Year</a></li>
                  <li><a href="#" ng-click="balanceTimeline(24)">Past 2 Years</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Graph Options</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 balance-heading img-responsive center-block">
                <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked dark-blue"></span><span>Balance</span></span>
                <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked light-blue"></span><span>Savings</span></span>
                <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked red"></span><span>Total Assets</span></span>
              </div>
              <div class="btn-group col-xs-3 visible-sm visible-md visible-lg pad">
                <button class="btn btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                  {{budgetDropText}} <span class="caret"></span>
                </button>
                <ul style="font-size: 11px" class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="balanceTimeline(3)">Past 3 Months</a></li>
                  <li><a href="#" ng-click="balanceTimeline(6)">Past 6 Months</a></li>
                  <li><a href="#" ng-click="balanceTimeline(12)">Past Year</a></li>
                  <li><a href="#" ng-click="balanceTimeline(24)">Past 2 Years</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Graph Options</a></li>
                </ul>
              </div>
            </div>
            <div name="balances-content" class="container-fluid col-md-12">
              <canvas id="line" class="budgets-graph chart chart-line img-responsive center-block" chart-data="data"
                chart-labels="labels" chart-legend="false" chart-series="series"
                chart-click="onClick" chart-options="chartOptions">
              </canvas>
              </br>
            </div>
          </div>
          <div class="right col-xs-12">
            <div class="col-md-4 col-xs-12">
              <h4 style="font-size: 24px;">Summary</h4>
              <div class="alt-text">Total Balance</div>
              <div class="clearfix">
                <h4 class="container-fluid col-xs-8 ten">$1,024</h4>
                <span class="col-xs-4" style="padding-top: 24px; padding-right: 0px;"><span class="label label-primary pull-right">12.5%</span></span>
              </div>
            </div>
            <!-- <div class="col-md-12 no-padding"><hr class="no-padding"></div> -->
              <div class="section summary col-xs-12 col-md-4">
                <div class="clearfix">
                  <span class="alt-text">Upcoming Bills</span>
                  <span class="pull-right visible-xs visible-sm visible-lg"><a href="#daveisthepinnacleofmankind">View More</a></span>
                  <span class="pull-right visible-md"><a href="#daveisthepinnacleofmankind">more</a></span>
                </div>
                <div class="summary-list">
                  <strong>Spotify Premium</strong>
                  <strong class="pull-right">3/14</strong>
                  <hr>
                  <strong>Xbox Live</strong>
                  <strong class="pull-right">3/21</strong>
                  <hr>
                  <strong>Amazon Prime</strong>
                  <strong class="pull-right">4/2</strong>
                </div>
              </div>
              <div class="section summary col-xs-12 col-md-4">
                <div class="container-fluid col-md-12 savings-goals">
                  <div class="clearfix">
                    <span class="alt-text">Top Savings Goals</span>
                    <span class="pull-right visible-xs visible-sm visible-lg"><a href="#daveisthepinnacleofmankind">View More</a></span>
                    <span class="pull-right visible-md"><a href="#daveisthepinnacleofmankind">more</a></span>
                  </div>
                  <div class="summary-list">
                    <strong>Playstation 6</strong>
                    <strong class="pull-right">70%</strong>
                    <hr>
                    <strong>Motorcycle</strong>
                    <strong class="pull-right">24%</strong>
                    <hr>
                    <strong>Condo</strong>
                    <strong class="pull-right">10%</strong>
                  </div>
                </div>
              </div>
          </div>
      </div>


        <div class="flex-wrapper">
            <div class="flex-card weekly-flex">
                <div class="flex-header">Weekly Flex Spending</div>
                <div class="flex-body">
                    <span class="flex-count">52</span> REMAINING
                </div>
                <hr>
                <span class="flex-footer"> 58% SPENT </span>
            </div>

            <div class="flex-card monthly-flex">
                <div class="flex-header">Monthly Flex Spending</div>
                <div class="flex-body">
                    <span class="flex-count">264</span> REMAINING
                </div>
                <hr>
                <span class="flex-footer"> 34% SPENT </span>
            </div>
        </div>


    <div class="recent-transactions-wrapper clearfix">

        <div class="recent-transactions card col-md-12">
            <div class="recent-transactions-header container-fluid">
                <span class="col-md-6 col-xs-8 recent-transactions-title bold">Recent Transactions</span>
                <div class="recent-transactions-link text-right col-md-6 col-xs-4"><a ui-sref="transactions">View More</a></div>
            </div>

            <div class="recent-transactions-body container-fluid">
                <div class="recent-transactions-row container-fluid">
                    <div class="recent-transactions-left col-md-1 col-xs-1">
                        <img class="icon" src="/assets/img/expense.png"/>
                    </div>
                    <div class="recent-transactions-mid col-md-5 col-xs-5">
                        <span class="bold">Books</span><br>
                        <span class="fade">March 11, 2016</span>
                    </div>
                    <div class="recent-transactions-right text-right col-md-6 col-xs-6">
                        <span class="textRed">$21.95</span><br>
                        <span class="fade">Amount</span>
                    </div>
                </div>

                <div class="recent-transactions-row container-fluid">
                    <div class="recent-transactions-left col-md-1 col-xs-1">
                        <img class="icon" src="/assets/img/payday.png"/>
                    </div>
                    <div class="recent-transactions-mid col-md-5 col-xs-5">
                        <span class="bold">ATM Deposit</span><br>
                        <span class="fade">March 8, 2016</span>
                    </div>
                    <div class="recent-transactions-right text-right col-md-6 col-xs-6">
                        <span class="textGreen">$1,140.00</span><br>
                        <span class="fade">Amount</span>
                    </div>
                </div>

                <div class="recent-transactions-row container-fluid">
                    <div class="recent-transactions-left col-md-1 col-xs-1">
                        <img class="icon" src="/assets/img/expense.png"/>
                    </div>
                    <div class="recent-transactions-mid col-md-5 col-xs-5">
                        <span class="bold">Gasoline</span><br>
                        <span class="fade">March 2, 2016</span>
                    </div>
                    <div class="recent-transactions-right text-right col-md-6 col-xs-6">
                        <span class="textRed">$20.00</span><br>
                        <span class="fade">Amount</span>
                    </div>
                </div>

                <div class="recent-transactions-row container-fluid">
                    <div class="recent-transactions-left col-md-1 col-xs-1">
                        <img class="icon" src="/assets/img/expense.png"/>
                    </div>
                    <div class="recent-transactions-mid col-md-5 col-xs-5">
                        <span class="bold">Combo Meal</span><br>
                        <span class="fade">February 27, 2016</span>
                    </div>
                    <div class="recent-transactions-right text-right col-md-6 col-xs-6">
                        <span class="textRed">$7.82</span><br>
                        <span class="fade">Amount</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex-wrapper">
        <div class="flex-card flex-sm liabilities-flex">
            <div class="flex-header text-uppercase">Total Liabilities</div>
            <div class="flex-body">
                <span class="flex-count">1.78k</span> 8% INCREASE
            </div>
        </div>

        <div class="flex-card flex-sm assets-flex">
            <div class="flex-header text-uppercase">Total Assets</div>
            <div class="flex-body">
                <span class="flex-count">3.12k</span>18% INCREASE
            </div>
        </div>
    </div>


      <div class="row card balances-card" style="box-shadow: 0px 0px 8px gray;">
          <div class="left col-sm-12 no-padding">
            <div name="balances-header" class="container-fluid col-md-12">
              <h4 style="font-size: 24px;" class="balances-header col-xs-6 col-sm-3">Net Worth</h4>
              <div class="btn-group col-xs-6 visible-xs balance-heading">
                <button class="btn btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                  {{networthDropText}} <span class="caret"></span>
                </button>
                <ul style="font-size: 11px" class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="networthTimeline(3)">Past 3 Months</a></li>
                  <li><a href="#" ng-click="networthTimeline(6)">Past 6 Months</a></li>
                  <li><a href="#" ng-click="networthTimeline(12)">Past Year</a></li>
                  <li><a href="#" ng-click="networthTimeline(24)">Past 2 Years</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Graph Options</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 balance-heading img-responsive center-block">
                <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked dark-blue"></span><span>Net Worth</span></span>
                <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked light-blue"></span><span>Assets</span></span>
                <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked red"></span><span>Liablities</span></span>
              </div>
              <div class="btn-group col-xs-3 visible-sm visible-md visible-lg pad">
                <button class="btn btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                  {{networthDropText}} <span class="caret"></span>
                </button>
                <ul style="font-size: 11px" class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="networthTimeline(3)">Past 3 Months</a></li>
                  <li><a href="#" ng-click="networthTimeline(6)">Past 6 Months</a></li>
                  <li><a href="#" ng-click="networthTimeline(12)">Past Year</a></li>
                  <li><a href="#" ng-click="networthTimeline(24)">Past 2 Years</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Graph Options</a></li>
                </ul>
              </div>
            </div>
            <div name="balances-content" class="container-fluid col-md-12">
              <canvas id="line" class="budgets-graph chart chart-line img-responsive center-block" chart-data="networthData"
                chart-labels="networthLabels" chart-legend="false" chart-series="series"
                chart-click="onClick" chart-options="chartOptions">
              </canvas>
              </br>
            </div>
          </div>
          <div class="right col-xs-12" style="padding-right: 20px; padding-left: 0px;">
            <div class="col-md-4 col-xs-12 networthItem">
              <span class="balance-heading-item col-xs-6 col-sm-6 col-md-12 col-lg-6 " style="padding-left: 10px; padding-right: 0px"><span class="icon fui-checkbox-unchecked dark-blue"></span><span>Net Worth</span></span>
              <span class="pull-right visible-xs visible-sm visible-lg" style="padding-top: 2px; padding-right: 7px;">
                <span>1.32k</span> &nbsp;
                <b class="negative" style="color: #FE7A09;"><span class="negative">18.7%</span></b>
                <span class="glyphicon glyphicon-arrow-down" style="color: #FE7A09;"></span>
              </span>
              <span class="visible-md" style="padding-top: 2px; padding-left: 20px; padding-left: 39px;">
                <span>1.32k</span> &nbsp;
                <b class="negative" style="color: #FE7A09;"><span class="negative">18.7%</span></b>
                <span class="glyphicon glyphicon-arrow-down" style="color: #FE7A09;"></span>
              </span>
            </div>
            <div class="col-md-4 col-xs-12 networthItem">
              <span class="balance-heading-item col-lg-6 visible-lg" style="border-left-style: ridge; padding-left: 10px; padding-right: 0px">
                <span class="icon fui-checkbox-unchecked light-blue"></span><span>Assets</span>
              </span>
            <span class="balance-heading-item col-xs-6 col-sm-6 col-md-12 col-lg-6 visible-xs visible-sm visible-md" style=" padding-left: 10px; padding-right: 0px">
                <span class="icon fui-checkbox-unchecked light-blue"></span><span>Assets</span>
              </span>
              <span class="pull-right visible-xs visible-sm visible-lg" style="padding-top: 2px; padding-right: 7px;">
                <span>1.32k</span> &nbsp;&nbsp;
                <b class="negative" style="color: #3FC529;"><span class="negative">5.3%</span></b>
                <span class="glyphicon glyphicon-arrow-up" style="color: #3FC529;"></span>
              </span>
              <span class="visible-md" style="padding-top: 2px; padding-left: 20px; padding-left: 39px;">
                <span>1.32k</span> &nbsp;&nbsp;
                <b class="negative" style="color: #3FC529;"><span class="negative">5.3%</span></b>
                <span class="glyphicon glyphicon-arrow-up" style="color: #3FC529;"></span>
              </span>
            </div>
            <div class="col-md-4 col-xs-12 networthItem">
              <span class="balance-heading-item col-lg-6 visible-lg" style="border-left-style: ridge; padding-left: 10px; padding-right: 0px">
                <span class="icon fui-checkbox-unchecked red"></span><span>Liablities</span>
              </span>
              <span class="balance-heading-item col-xs-6 col-sm-6 col-md-12 col-lg-6 visible-xs visible-sm visible-md" style=" padding-left: 10px; padding-right: 0px">
                <span class="icon fui-checkbox-unchecked red"></span><span>Liablities</span>
              </span>
              <span class="pull-right visible-xs visible-sm visible-lg" style="padding-top: 2px; padding-right: 7px;">
                <span>1.32k</span> &nbsp;&nbsp;
                <b class="negative" style="color: #3FC529;"><span class="negative">5.3%</span></b>
                <span class="glyphicon glyphicon-arrow-up" style="color: #3FC529;"></span>
              </span>
              <span class="visible-md" style="padding-top: 2px; padding-left: 20px; padding-left: 39px;">
                <span>1.32k</span> &nbsp;&nbsp;
                <b class="negative" style="color: #3FC529;"><span class="negative">5.3%</span></b>
                <span class="glyphicon glyphicon-arrow-up" style="color: #3FC529;"></span>
              </span>
            </div>
          </div>
        </div>
</div>