Overview Page

<br>
<!-- Balances Summary Start -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
        <div class="left col-sm-12 col-md-9">
          <div name="balances-header" class="container-fluid col-md-12">
            <h4 class="col-md-2">Balances</h4>
            <div class="col-md-8 pad">
              <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked dark-blue"></span><span>Balance</span></span>
              <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked light-blue"></span><span>Savings</span></span>
              <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked red"></span><span>Total Assets</span></span>
            </div>
            <div class="btn-group col-md-2 pad">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Past 6 Months <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
          <div name="balances-content" class="container-fluid col-md-12">
            <img src="graph.jpg" class="img-responsive center-block">
          </div>
        </div>
        <div class="right col-sm-12 col-md-3">
          <div class="col-md-12">
            <h4>Summary</h4>
            <div class="alt-text">Total Balance</div>
            <div>
              <h4 class="container-fluid col-md-8">$1,024</h4>
              <span class="col-md-4" style="padding: 20px 0px;"><span class="label label-primary pull-right">12.5%</span></span>
            </div>
          </div>
          <div class="col-md-12"><hr></div>
          <div class="summary col-md-12">
            <div class="container-fluid col-md-12">
              <span class="alt-text">Upcoming Bills</span>
              <span class="pull-right"><a href="#daveisthepinnacleofmankind">View More</a></span>
              <div class="summary-list">
                <strong>Spotify Premium</strong>
                <strong class="pull-right">3/14</strong>
                <hr>
                <strong>Xbox Live</strong>
                <strong class="pull-right">3/21</strong>
                <hr>
                <strong>Amazon Prime</strong>
                <strong class="pull-right">4/2</strong>
              </div>
              </br>
            </div>
            <div class="container-fluid col-md-12">
              <div class="container-fluid col-md-12">
                <span class="alt-text">Top Savings Goals</span>
                <span class="pull-right"><a href="#daveisthepinnacleofmankind">View More</a></span>
                <div class="summary-list">
                  <strong>Playstation 6</strong>
                  <strong class="pull-right">70%</strong>
                  <hr>
                  <strong>Motorcycle</strong>
                  <strong class="pull-right">24%</strong>
                  <hr>
                  <strong>Condo</strong>
                  <strong class="pull-right">10%</strong>
                </div>
                </br>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- Balances Summary End -->
