<!-- Balances Summary Start -->
<div class="clearfix" style="width: 90%; margin: auto;">

      <div class="row card" style="box-shadow: 0px 0px 8px gray;">
          <div class="left col-sm-12 col-lg-9 no-padding">
            <div name="balances-header" class="container-fluid col-md-12">
              <h4 class="col-xs-6 col-sm-3">Balances</h4>
              <div class="btn-group col-xs-6 visible-xs balance-heading">
                <button class="btn btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                  Past 6 Months <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 balance-heading img-responsive center-block">
                <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked dark-blue"></span><span>Balance</span></span>
                <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked light-blue"></span><span>Savings</span></span>
                <span class="balance-heading-item"><span class="icon fui-checkbox-unchecked red"></span><span>Total Assets</span></span>
              </div>
              <div class="btn-group col-xs-3 visible-sm visible-md visible-lg pad">
                <button class="btn btn-xs dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                  Past 6 Months <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
            <div name="balances-content" class="container-fluid col-md-12">
              <canvas id="line" class="budgets-graph chart chart-line img-responsive center-block" chart-data="data"
                chart-labels="labels" chart-legend="false" chart-series="series"
                chart-click="onClick" chart-options="chartOptions">
              </canvas>
              </br>
            </div>
          </div>
          <div class="right no-padding col-xs-12 col-lg-3">
            <div class="col-md-4 col-xs-12 col-lg-12">
              <h4>Summary</h4>
              <div class="alt-text">Total Balance</div>
              <div class="clearfix">
                <h4 class="container-fluid col-xs-8">$1,024</h4>
                <span class="col-xs-4" style="padding-top: 24px; padding-right: 0px;"><span class="label label-primary pull-right">12.5%</span></span>
              </div>
            </div>
            <!-- <div class="col-md-12 no-padding"><hr class="no-padding"></div> -->
              <div class="section summary col-xs-12 col-md-4 col-lg-12">
                <div class="clearfix">
                  <span class="alt-text">Upcoming Bills</span>
                  <span class="pull-right visible-xs visible-sm visible-lg"><a href="#daveisthepinnacleofmankind">View More</a></span>
                  <span class="pull-right visible-md"><a href="#daveisthepinnacleofmankind">more</a></span>
                </div>
                <div class="summary-list">
                  <strong>Spotify Premium</strong>
                  <strong class="pull-right">3/14</strong>
                  <hr>
                  <strong>Xbox Live</strong>
                  <strong class="pull-right">3/21</strong>
                  <hr>
                  <strong>Amazon Prime</strong>
                  <strong class="pull-right">4/2</strong>
                </div>
              </div>
              <div class="section summary col-xs-12 col-md-4 col-lg-12">
                <div class="container-fluid col-md-12">
                  <div class="clearfix">
                    <span class="alt-text">Top Savings Goals</span>
                    <span class="pull-right visible-xs visible-sm visible-lg"><a href="#daveisthepinnacleofmankind">View More</a></span>
                    <span class="pull-right visible-md"><a href="#daveisthepinnacleofmankind">more</a></span>
                  </div>
                  <div class="summary-list">
                    <strong>Playstation 6</strong>
                    <strong class="pull-right">70%</strong>
                    <hr>
                    <strong>Motorcycle</strong>
                    <strong class="pull-right">24%</strong>
                    <hr>
                    <strong>Condo</strong>
                    <strong class="pull-right">10%</strong>
                  </div>
                </div>
              </div>
          </div>
      </div>
</div>

<!-- Balances Summary End -->

<!-- Budget Summary Start-->

<div class="flex-card-wrapper row">
  <!--Budget Information-->
  <!---Budget Infomration End-->
  <!--Flex cards-->
  <div class="flex-card col-md-3 card card-block">
    <span class="flex-header">Weekly Flex Spending</span>
    <div class="flex-body">
      <span class="flex-count">52</span> REMAINING
    </div>
    <hr style="margin-top: 0; margin-bottom: 5px; opacity:0.3;">
    <span class="flex-footer"> 58% SPENT </span>
  </div>

  <div class="flex-card col-md-3 card card-block">
    <span class="flex-header">Weekly Flex Spending</span>
    <div class="flex-body">
      <span class="flex-count">52</span> REMAINING
    </div>
    <hr style="margin-top: 0; margin-bottom: 5px; opacity:0.3;">
    <span class="flex-footer"> 58% SPENT </span>
  </div>

  <!--Flex cards end-->
  <!--Recent Transactions-->
</div>
